<h1>New Product Created:</h1>

<div><%=  @new_product.name %></div>
<div><%=  @new_product.price %></div>
<div><%=  @new_product.image %></div>
<div><%=  @new_product.description %></div>


<div><a href="/products">see all products</a></div>