<h1>New Product Created:</h1>

<div><%=  @product.name %></div>
<div><%=  @product.price %></div>
<div><%=  @product.image %></div>
<div><%=  @product.description %></div>


<div><a href="/products">see all products</a></div>