<h1 class="imagine">Enjoy our of products:</h1>
<div class="imagine">
<% @products.each do |product| %>
<p><%= product.name %></p>
 <p>$<%= product.price %></p> 
 <p><%= product.image %></p> 
 <p>"<%= product.description %>"</p> 
  <% end %></div>